@import '../../styles/resets.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.table {
    width: 964px;

    display: flex;
    flex-direction: column;

    .table-head {
        display: flex;

        background: #FAFAFA;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        padding: 20px 28px;

        span {
            // display: inline-block;
            // text-align: center;
            display: flex;
            justify-content: center;
            @include lato(bold, 14px, 17px);

            img {
                width: 8px;
                margin-left: 4px;
            }
        }

        .data {
            cursor: pointer;
            width: 115px;

            position: relative;
            right: 35px;
        }

        .dia-semana {
            cursor: pointer;
            width: 125px;
        }

        .descricao {
            width: 250px;
        }
    
        .categoria {
            width: 160px;
        }

        .valor {
            cursor: pointer;
            width: 140px;
        }
    }
}